{% extends 'base.html' %}

{% block content %}
<main class="container main">
        <div>
            <h3>Бланк заказа</h3>
        </div>
        <table>
            <thead>
                <tr>
                <th>Код единицы продаж</th>
                <th>Код продукта</th>
                <th>Номер варианта</th>
                <th>Штрих-код</th>
                <th>Вес нетто штуки, кг</th>
                <th>Кол-во штук в коробе, шт</th>
                <th>Вес нетто короба, кг</th>
                <th>Вес брутто короба, кг</th>
                <th>Кол-во кор. на паллте, шт</th>
                <th>Завод</th>
                <th>Срок годности, сут.</th>
                <th>Наименование</th>
                <th>Ед. изм.</th>
                <th>Заказ</th>
                <th>Заказ с округлением до короба</th>
                <th>Объём заказа, м3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>SU003273</td>
                <td>P004070</td>
                <td>4301011826</td>
                <td>4680115884137</td>
                <td>1,45</td>
                <td>8</td>
                <td>11,6</td>
                <td>12,08</td>
                <td>56</td>
                <td>СК1</td>
                <td>55</td>
                <td>Вареные колбасы «Молочная Стародворская с молоком» Весовой п/а ТМ «Стародворье»</td>
                <td>кг</td>
                <td>0,00</td>
                <td>0,00</td>
                <td>0,00</td>
                </tr>
                <tr>
                    <td>SU003273</td>
                    <td>P004070</td>
                    <td>4301011826</td>
                    <td>4680115884137</td>
                    <td>1,45</td>
                    <td>8</td>
                    <td>11,6</td>
                    <td>12,08</td>
                    <td>56</td>
                    <td>СК1</td>
                    <td>55</td>
                    <td>Вареные колбасы «Молочная Стародворская с молоком» Весовой п/а ТМ «Стародворье»</td>
                    <td>кг</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                </tr>
            </tbody>
        </table>
        <div class="main"></div>
    </main>
{% endblock %}