<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="container header">
        <div class="header_log">
            <div>LOGO</div>
            <div>Logo name</div>
            <div>
                <p>Контакты</p>
                <p>Менеджер</p>
                <p>телефон</p>

            </div>
        </div>
        <div class="header_nav">
            <button>ЗАКАЗ</button>
            <button>Статистика</button>
        </div>
    </header>
    <main class="container main">
        <div>
            <h3>Бланк заказа</h3>
        </div>
        <table>
            <thead>
                <tr>
                <th>Код единицы продаж</th>
                <th>Код продукта</th>
                <th>Номер варианта</th>
                <th>Штрих-код</th>
                <th>Вес нетто штуки, кг</th>
                <th>Кол-во штук в коробе, шт</th>
                <th>Вес нетто короба, кг</th>
                <th>Вес брутто короба, кг</th>
                <th>Кол-во кор. на паллте, шт</th>
                <th>Завод</th>
                <th>Срок годности, сут.</th>
                <th>Наименование</th>
                <th>Ед. изм.</th>
                <th>Заказ</th>
                <th>Заказ с округлением до короба</th>
                <th>Объём заказа, м3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>SU003273</td>
                <td>P004070</td>
                <td>4301011826</td>
                <td>4680115884137</td>
                <td>1,45</td>
                <td>8</td>
                <td>11,6</td>
                <td>12,08</td>
                <td>56</td>
                <td>СК1</td>
                <td>55</td>
                <td>Вареные колбасы «Молочная Стародворская с молоком» Весовой п/а ТМ «Стародворье»</td>
                <td>кг</td>
                <td>0,00</td>
                <td>0,00</td>
                <td>0,00</td>
                </tr>
                <tr>
                    <td>SU003273</td>
                    <td>P004070</td>
                    <td>4301011826</td>
                    <td>4680115884137</td>
                    <td>1,45</td>
                    <td>8</td>
                    <td>11,6</td>
                    <td>12,08</td>
                    <td>56</td>
                    <td>СК1</td>
                    <td>55</td>
                    <td>Вареные колбасы «Молочная Стародворская с молоком» Весовой п/а ТМ «Стародворье»</td>
                    <td>кг</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                </tr>
            </tbody>
        </table>
        <div class="main"></div>
    </main>
    <footer class="container footer">
        <div>LOGO</div>
        <div>
            <div>Техническая поддержка</div>
            <div>mail@mail.ru</div>
        </div>
    </footer>

</body>
</html>
