{% extends 'base.html' %}
{% load filter_tags %}

{% block content %}
<main class="container main">
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <h3>Бланк заказа</h3>
            <button type="submit">Отправить заказ</button>
        </div>
        <div class="table">
            <div class="row">
                <div class="cell">Код единицы продаж</div>
                <div class="cell">Код продукта</div>
                <div class="cell">Номер варианта</div>
                <div class="cell">Штрих-код</div>
                <div class="cell">Вес нетто штуки, кг</div>
                <div class="cell">Кол-во штук в коробе, шт</div>
                <div class="cell">Вес нетто короба, кг</div>
                <div class="cell">Вес брутто короба, кг</div>
                <div class="cell">Кол-во кор. на паллте, шт</div>
                <div class="cell">Завод</div>
                <div class="cell">Срок годности, сут.</div>
                <div class="cell wider">Наименование</div>
                <div class="cell">Ед. изм.</div>
                <div class="cell">Заказ</div>
                <div class="cell">Заказ с округлением до короба</div>
                <div class="cell">Объём заказа, м3</div>
            </div>
            {% for obj in products_by_cat %}
                {% if obj.brand_name %}
                    <br>
                {% endif %}
                <div><h2>{{ obj.brand_name }}</h2></div>
                <div><h3>{{ obj.category }}</h3></div>
                <div><h4>{{ obj.product_group }}</h4></div>
                {% if obj|get_type == 'list' %}
                    {% for product in obj %}
                        <div class="row">
                            <div class="cell">{{ product.sales_unit_code }}</div>
                            <div class="cell">{{ product.product_code }}</div>
                            <div class="cell">{{ product.option_number }}</div>
                            <div class="cell">{{ product.barcode }}</div>
                            <div class="cell">{{ product.net_weight_piece }}</div>
                            <div class="cell">{{ product.number_pieces_in_box }}</div>
                            <div class="cell">{{ product.net_weight_of_box }}</div>
                            <div class="cell">{{ product.gross_weight_of_box }}</div>
                            <div class="cell">{{ product.number_of_boxes_per_pallet }}</div>
                            <div class="cell">{{ product.factory }}</div>
                            <div class="cell">{{ product.expiration_date }}</div>
                            <div class="cell wider">{{ product.product_name }}</div>
                            <div class="cell">{{ product.units_measurement }}</div>
                            <div class="cell"><input name="product_id_{{ product.pk }}" size="5"  type="number" step="any" /></div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <button type="submit">Отправить заказ</button>
    </form>
    <div class="main"></div>
</main>
{% endblock %}
