{% extends 'base.html' %}

{% block content %}
    <dev class="container main">
        <h1>{{ title }}</h1>
        <hr>
        <div class="table">
            {% if title != no_access %}
                <div class="row">
                    <div class="cell">Код единицы продаж</div>
                    <div class="cell">Код продукта</div>
                    <div class="cell">Номер варианта</div>
                    <div class="cell">Штрих-код</div>
                    <div class="cell">Вес нетто штуки, кг</div>
                    <div class="cell">Кол-во штук в коробе, шт</div>
                    <div class="cell">Вес нетто короба, кг</div>
                    <div class="cell">Вес брутто короба, кг</div>
                    <div class="cell">Кол-во кор. на паллте, шт</div>
                    <div class="cell">Завод</div>
                    <div class="cell">Срок годности, сут.</div>
                    <div class="cell wider">Наименование</div>
                    <div class="cell">Ед. изм.</div>
                    <div class="cell">Заказ</div>
                </div>
            {% endif %}
            {% for product in products %}
                 <div class="row">
                    <div class="cell">{{ product.product.sales_unit_code }}</div>
                    <div class="cell">{{ product.product.product_code }}</div>
                    <div class="cell">{{ product.product.option_number }}</div>
                    <div class="cell">{{ product.product.barcode }}</div>
                    <div class="cell">{{ product.product.net_weight_piece }}</div>
                    <div class="cell">{{ product.product.number_pieces_in_box }}</div>
                    <div class="cell">{{ product.product.net_weight_of_box }}</div>
                    <div class="cell">{{ product.product.gross_weight_of_box }}</div>
                    <div class="cell">{{ product.product.number_of_boxes_per_pallet }}</div>
                    <div class="cell">{{ product.product.factory }}</div>
                    <div class="cell">{{ product.product.expiration_date }}</div>
                    <div class="cell wider">{{ product.product.product_name }}</div>
                    <div class="cell">{{ product.product.units_measurement }}</div>
                    <div class="cell">{{ product.count_product }}</div>
                 </div>
            {% endfor %}
        </div>
        <dev class="main"></dev>
    </dev>
{% endblock %}
