{% extends 'base.html' %}

{% block content %}
    <dev class="container main">
        <h1>{{ title }}</h1>
        <hr width="100%">
        <dev>
            {% for order in orders %}
                <p>
                    {% if user.is_superuser %}
                        <hr>
                        <p>{{ order.user }}</p>
                    {% endif %}
                    <a class="list_orders" href="{{ order.id }}">Заказ №{{ order.time_create|date:"d.m.Y"|cut:"." }}#{{ order.id }}</a>
                    <span hidden>{{ order.get_status }}</span>
                     - {{ order.status_to_str }}
                </p>
            {% endfor %}
        </dev>
        <dev class="main"></dev>
    </dev>
{% endblock %}
