{% extends 'base.html' %}

{% block content %}
    <div class="container main">
        <h1>{{ title }}</h1>
        <hr width="100%">
        <div>
            {% for order in orders %}
                <div>
                    {% if user.is_superuser %}
                        <hr>
                        <p>{{ order.user }}</p>
                    {% endif %}
                    <a class="list_orders" href="{{ order.id }}">Заказ №{{ order.time_create|date:"d.m.Y"|cut:"." }}#{{ order.id }}</a>
                    <span hidden>{{ order.get_status }}</span>
                     - {{ order.status_to_str }}
                </div>
            {% endfor %}
        </div>
        <div class="main"></div>
    </div>
{% endblock %}
