<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body style="background-image: url('{% static 'images/bg_img.jpg' %}');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
">
    <header class="container header">
        <div class="header_log">
            <div>LOGO</div>
            <div>Logo name</div>
            <div>
                <p>Контакты</p>
                <p>Менеджер</p>
                <p>телефон</p>
            </div>
        </div>
        <div class="header_nav">
            <button>Главная страница</button>
            <button>ЗАКАЗ</button>
            <button>Статистика</button>
            <div>
                <ul>
                    {% if user.is_authenticated %}
                    <li class="last"> {{user.username}} | <a href="{% url 'users:logout' %}">Выйти</a></li>
                    {% else %}
                    <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="#">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="container footer">
        <div>LOGO</div>
        <div>
            <div>Техническая поддержка</div>
            <div>mail@mail.ru</div>
        </div>
    </footer>

</body>
</html>
